* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #EFEFEF;
	color: #363639;
    font-family: 'Work Sans', sans-serif;
}

.cont-temporizador{
	display: flex;
	justify-content: center;
	margin-top: 50px;	
}


.cont-temporizador.bloque{
	margin: 0px 4px;
	display:flex;
	flex-direction: column;
	align-items:center;
	
	
}

.cont-temporizador.bloque div{
	display:flex;
	justify-content: center;
	align-items:center;
	margin-bottom: 10px;
	font-size: 40;
	font-weight: bold;
	width: 100px;
	height: 70px;
	
	
}