<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Pickup Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

	

</head>
<body>

	<div class="container my-2">
	<h1>Pickup</h1>
	
	<a th:href = "@{/show}" class="btn btn-primary btn-sm mb-3"> Add </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=orden&sortDir=' + ${reverseSortDir}}">
							Orden</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=pedido&sortDir=' + ${reverseSortDir}}">
							  Pedido</a>
					</th>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
							  Nombre del cliente</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=productos_frios&sortDir=' + ${reverseSortDir}}">
							 Productos Frios</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=productos_congelados&sortDir=' + ${reverseSortDir}}">
							 Productos congelados</a>
					</th>
					<th>
					
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=productos_normales&sortDir=' + ${reverseSortDir}}">
							 Productos normales</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=productos_cantidad&sortDir=' + ${reverseSortDir}}">
							 Cantidad de bultos</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '' + ${reverseSortDir}}">
							Hora de llegada</a>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pickup : ${listPickups}">
					<td th:text="${pickup.orden}"></td>
					<td th:text="${pickup.pedido}"></td>
					<td th:text="${pickup.firstName}"></td>
					<td th:text="${pickup.productos_frios}"></td>
					<td th:text="${pickup.productos_congelados}"></td>
					<td th:text="${pickup.productos_normales}"></td>
					<td th:text="${pickup.productos_cantidad}"></td>
					<td th:text="${pickup.hour}"></td>
					
				</tr>
			</tbody>
		</table>
		
	
		
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
	
	
	
<p></p>
	


	
	
</body>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<link rel="stylesheet" href="css/estilos.css">
	
</html>